html
  body
    form(action='/reg', method='post')
      input(type='text', name='username')
      input(type='text', name='regDate')
      input(type='text', name='role')
      //input(type='text', name='status')
      input(type='submit', value='Register')