extends layout
block content
    .row
      .box.col-md-12
        .box-inner#datePanel
          .box-header.well(data-original-title='')
            h2
              i.glyphicon.glyphicon-user
              |  嚼嚼的好身材之路
            |         
            .box-icon
              a.btn.btn-setting.btn-round.btn-default(href='#')
                i.glyphicon.glyphicon-cog
              |             
              a.btn.btn-minimize.btn-round.btn-default(href='#')
                i.glyphicon.glyphicon-chevron-up
              |             
              a.btn.btn-close.btn-round.btn-default#closeDatePanel(href='#')
                i.glyphicon.glyphicon-remove
          |     
          .box-content#punchContent
            input.btn.btn-danger(type='button' value='I want to punch!!!')#punchBtn
            div#longTimeLine
            
    .row
      .box.col-md-12
        .box-inner
          .box-header.well(data-original-title='')
            h2
              i.glyphicon.glyphicon-user
              |  么么哒币余额显示
            |         
            .box-icon
              a.btn.btn-setting.btn-round.btn-default(href='#')
                i.glyphicon.glyphicon-cog
              |             
              a.btn.btn-minimize.btn-round.btn-default(href='#')
                i.glyphicon.glyphicon-chevron-up
              |             
              a.btn.btn-close.btn-round.btn-default(href='#')
                i.glyphicon.glyphicon-remove
          |     
          .box-content
            .alert.alert-info
              | 当前系统显示用户余额 有问题请发邮件至360896270@qq.com获取支持
            |     
            |    
            #DataTables_Table_0_wrapper.dataTables_wrapper(role='grid')
              .row
                .col-md-6
              table#DataTables_Table_0.table.table-striped.table-bordered.bootstrap-datatable.datatable.dataTable(aria-describedby='DataTables_Table_0_info')
                thead
                  tr(role='row')
                    th.sorting_asc(role='columnheader', tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Username: activate to sort column descending', style='width: 197px;') 姓名
                    th.sorting(role='columnheader', tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='Date registered: activate to sort column ascending', style='width: 165px;') 余额
                    th.sorting(role='columnheader', tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='Date registered: activate to sort column ascending', style='width: 165px;') 任务
                    th#test(role='columnheader', tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='Actions: activate to sort column ascending', style='width: 35px;')
                      i.glyphicon.glyphicon-plus.icon-white
                |     
                |     
                tbody(role='alert', aria-live='polite', aria-relevant='all')
                  -each user in users
                    tr.curUserRow
                      input(class="userID" type="hidden" value= user.id)
                      td.userName= user.name
                      |         
                      td.userRegDate.center= user.regDate
                      |    
                      td
                        -if (user.name == '乔小姐')
                            input.btn.btn-info(type='button' value='嚼嚼的运动打卡')#datePickerBtn
                      td.center
                        i.glyphicon.glyphicon-minus
                        |   
    