html
  body

html(lang='en')
  head
    //
      ===
      This comment should NOT be removed.
      Charisma v2.0.0
      Copyright 2012-2014 Muhammad Usman
      Licensed under the Apache License v2.0
      http://www.apache.org/licenses/LICENSE-2.0
      http://usman.it
      http://twitter.com/halalit_usman
      ===
    meta(charset='utf-8')
    |     
    title Free HTML5 Bootstrap Admin Template
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.')
    |     
    meta(name='author', content='Muhammad Usman')
    // The styles
    link#bs-css(href='css/bootstrap-cerulean.min.css', rel='stylesheet')
    |     
    link(href='css/charisma-app.css', rel='stylesheet')
    |     
    link(href='bower_components/fullcalendar/dist/fullcalendar.css', rel='stylesheet')
    |     
    link(href='bower_components/fullcalendar/dist/fullcalendar.print.css', rel='stylesheet', media='print')
    |     
    link(href='bower_components/chosen/chosen.min.css', rel='stylesheet')
    |     
    link(href='bower_components/colorbox/example3/colorbox.css', rel='stylesheet')
    |     
    link(href='bower_components/responsive-tables/responsive-tables.css', rel='stylesheet')
    |     
    link(href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css', rel='stylesheet')
    |     
    link(href='css/jquery.noty.css', rel='stylesheet')
    |     
    link(href='css/noty_theme_default.css', rel='stylesheet')
    |     
    link(href='css/elfinder.min.css', rel='stylesheet')
    |     
    link(href='css/elfinder.theme.css', rel='stylesheet')
    |     
    link(href='css/jquery.iphone.toggle.css', rel='stylesheet')
    |     
    link(href='css/uploadify.css', rel='stylesheet')
    |     
    link(href='css/animate.min.css', rel='stylesheet')
    // jQuery
    script(src='bower_components/jquery/jquery.min.js')
    // The HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // The fav icon
    link(rel='shortcut icon', href='img/favicon.ico')
  body
    // topbar starts
    .navbar.navbar-default(role='navigation')
      .navbar-inner
        button.navbar-toggle.pull-left.animated.flip(type='button')
          span.sr-only Toggle navigation
          |                 
          span.icon-bar
          |                 
          span.icon-bar
          |                 
          span.icon-bar
        |             
        a.navbar-brand(href='index.html')
          img.hidden-xs(alt='Charisma Logo', src='img/logo20.png')
          |                 
          span Charisma
        // user dropdown starts
        .btn-group.pull-right
          button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
            i.glyphicon.glyphicon-user
            span.hidden-sm.hidden-xs  admin
            |                     
            span.caret
          |                 
          ul.dropdown-menu
            li
              a(href='#') Profile
            |                     
            li.divider
            |                     
            li
              a(href='login.html') Logout
        // user dropdown ends
        // theme selector starts
        .btn-group.pull-right.theme-container.animated.tada
          button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
            i.glyphicon.glyphicon-tint
            span.hidden-sm.hidden-xs  Change Theme / Skin
            |                     
            span.caret
          |                 
          ul#themes.dropdown-menu
            li
              a(data-value='classic', href='#')
                i.whitespace
                |  Classic
            |                     
            li
              a(data-value='cerulean', href='#')
                i.whitespace
                |  Cerulean
            |                     
            li
              a(data-value='cyborg', href='#')
                i.whitespace
                |  Cyborg
            |                     
            li
              a(data-value='simplex', href='#')
                i.whitespace
                |  Simplex
            |                     
            li
              a(data-value='darkly', href='#')
                i.whitespace
                |  Darkly
            |                     
            li
              a(data-value='lumen', href='#')
                i.whitespace
                |  Lumen
            |                     
            li
              a(data-value='slate', href='#')
                i.whitespace
                |  Slate
            |                     
            li
              a(data-value='spacelab', href='#')
                i.whitespace
                |  Spacelab
            |                     
            li
              a(data-value='united', href='#')
                i.whitespace
                |  United
        // theme selector ends
        ul.collapse.navbar-collapse.nav.navbar-nav.top-menu
          li
            a(href='#')
              i.glyphicon.glyphicon-globe
              |  Visit Site
          |                 
          li.dropdown
            a(href='#', data-toggle='dropdown')
              i.glyphicon.glyphicon-star
              |  Dropdown 
              span.caret
            |                     
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              |                         
              li
                a(href='#') Another action
              |                         
              li
                a(href='#') Something else here
              |                         
              li.divider
              |                         
              li
                a(href='#') Separated link
              |                         
              li.divider
              |                         
              li
                a(href='#') One more separated link
          |                 
          li
            form.navbar-search.pull-left
              input.search-query.form-control.col-md-10(placeholder='Search', name='query', type='text')
    // topbar ends
    .ch-container
      .row
        // left menu starts
        .col-sm-2.col-lg-2
          .sidebar-nav
            .nav-canvas
              .nav-sm.nav.nav-stacked
              |                     
              ul.nav.nav-pills.nav-stacked.main-menu
                li.nav-header Main
                |                         
                li
                  a.ajax-link(href='index.html')
                    i.glyphicon.glyphicon-home
                    span  Dashboard
                |                         
                li
                  a.ajax-link(href='ui.html')
                    i.glyphicon.glyphicon-eye-open
                    span  UI Features
                |                         
                li
                  a.ajax-link(href='form.html')
                    i.glyphicon.glyphicon-edit
                    span  Forms
                |                         
                li
                  a.ajax-link(href='chart.html')
                    i.glyphicon.glyphicon-list-alt
                    span  Charts
                |                         
                li
                  a.ajax-link(href='typography.html')
                    i.glyphicon.glyphicon-font
                    span  Typography
                |                         
                li
                  a.ajax-link(href='gallery.html')
                    i.glyphicon.glyphicon-picture
                    span  Gallery
                |                         
                li.nav-header.hidden-md Sample Section
                |                         
                li
                  a.ajax-link(href='table.html')
                    i.glyphicon.glyphicon-align-justify
                    span  Tables
                |                         
                li.accordion
                  a(href='#')
                    i.glyphicon.glyphicon-plus
                    span  Accordion Menu
                  |                             
                  ul.nav.nav-pills.nav-stacked
                    li
                      a(href='#') Child Menu 1
                    |                                 
                    li
                      a(href='#') Child Menu 2
                |                         
                li
                  a.ajax-link(href='calendar.html')
                    i.glyphicon.glyphicon-calendar
                    span  Calendar
                |                         
                li
                  a.ajax-link(href='grid.html')
                    i.glyphicon.glyphicon-th
                    span  Grid
                |                         
                li
                  a(href='tour.html')
                    i.glyphicon.glyphicon-globe
                    span  Tour
                |                         
                li
                  a.ajax-link(href='icon.html')
                    i.glyphicon.glyphicon-star
                    span  Icons
                |                         
                li
                  a(href='error.html')
                    i.glyphicon.glyphicon-ban-circle
                    span  Error Page
                |                         
                li
                  a(href='login.html')
                    i.glyphicon.glyphicon-lock
                    span  Login Page
              |                     
              label#for-is-ajax(for='is-ajax')
                input#is-ajax(type='checkbox')
                |  Ajax on menu
        // /span
        // left menu ends
        noscript
          .alert.alert-block.col-md-12
            h4.alert-heading Warning!
            |                 
            p
              | You need to have 
              a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
              |                     enabled to use this site.
        |         
        #content.col-lg-10.col-sm-10
          // content starts
          div
            ul.breadcrumb
              li
                a(href='#') Home
              |             
              li
                a(href='#') Tables
          |     
          .row
            .box.col-md-12
              .box-inner
                .box-header.well(data-original-title='')
                  h2
                    i.glyphicon.glyphicon-user
                    |  Datatable + Responsive
                  |         
                  .box-icon
                    a.btn.btn-setting.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-cog
                    |             
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |             
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |     
                .box-content
                  .alert.alert-info
                    | For help with such table please check 
                    a(href='http://datatables.net/', target='_blank') http://datatables.net/
                  |     
                  table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
                    thead
                      tr
                        th Username
                        |         
                        th Date registered
                        |         
                        th Role
                        |         
                        th Status
                        |         
                        th Actions
                    |     
                    tbody
                      tr
                        td David R
                        |         
                        td.center 2012/01/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Chris Jack
                        |         
                        td.center 2012/01/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Jack Chris
                        |         
                        td.center 2012/01/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Muhammad Usman
                        |         
                        td.center 2012/01/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Sheikh Heera
                        |         
                        td.center 2012/02/01
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Helen Garner
                        |         
                        td.center 2012/02/01
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Saruar Ahmed
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Ahemd Saruar
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Habib Rizwan
                        |         
                        td.center 2012/01/21
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Rizwan Habib
                        |         
                        td.center 2012/01/21
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Amrin Sana
                        |         
                        td.center 2012/08/23
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Sana Amrin
                        |         
                        td.center 2012/08/23
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Ifrah Jannat
                        |         
                        td.center 2012/06/01
                        |         
                        td.center Admin
                        |         
                        td.center
                          span.label-default.label Inactive
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Jannat Ifrah
                        |         
                        td.center 2012/06/01
                        |         
                        td.center Admin
                        |         
                        td.center
                          span.label-default.label Inactive
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Robert
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Dave Robert
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Brown Robert
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Usman Muhammad
                        |         
                        td.center 2012/01/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Abdullah
                        |         
                        td.center 2012/02/01
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Dow John
                        |         
                        td.center 2012/02/01
                        |         
                        td.center Admin
                        |         
                        td.center
                          span.label-default.label Inactive
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td John R
                        |         
                        td.center 2012/02/01
                        |         
                        td.center Admin
                        |         
                        td.center
                          span.label-default.label Inactive
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Paul Wilson
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Wilson Paul
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Heera Sheikh
                        |         
                        td.center 2012/01/21
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Sheikh Heera
                        |         
                        td.center 2012/01/21
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-success.label.label-default Active
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Christopher
                        |         
                        td.center 2012/08/23
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Andro Christopher
                        |         
                        td.center 2012/08/23
                        |         
                        td.center Staff
                        |         
                        td.center
                          span.label-default.label.label-danger Banned
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Jhon Doe
                        |         
                        td.center 2012/06/01
                        |         
                        td.center Admin
                        |         
                        td.center
                          span.label-default.label Inactive
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Lorem Ipsum
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Abraham
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Brown Blue
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
                      |     
                      tr
                        td Worth Name
                        |         
                        td.center 2012/03/01
                        |         
                        td.center Member
                        |         
                        td.center
                          span.label-warning.label.label-default Pending
                        |         
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                 View
                          |             
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                 Edit
                          |             
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                 Delete
            // /span
          // /row
          .row
            .box.col-md-12
              .box-inner
                .box-header.well(data-original-title='')
                  h2
                    i.glyphicon.glyphicon-user
                    |  Responsive, Swipable Table
                  |                     
                  .box-icon
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |                         
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |                 
                .box-content
                  table.table.table-striped.table-bordered.responsive
                    thead
                      tr
                        th Username
                        |                             
                        th Date registered
                        |                             
                        th Role
                        |                             
                        th Status
                        |                             
                        th Actions
                    |                         
                    tbody
                      tr
                        td Muhammad Usman
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                        |                             
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                                     View
                          |                                 
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                                     Edit
                          |                                 
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                                     Delete
                      |                         
                      tr
                        td Abraham
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                        |                             
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                                     View
                          |                                 
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                                     Edit
                          |                                 
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                                     Delete
                      |                         
                      tr
                        td Brown Blue
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                        |                             
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                                     View
                          |                                 
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                                     Edit
                          |                                 
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                                     Delete
                      |                         
                      tr
                        td Worth Name
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                        |                             
                        td.center
                          a.btn.btn-success(href='#')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            |                                     View
                          |                                 
                          a.btn.btn-info(href='#')
                            i.glyphicon.glyphicon-edit.icon-white
                            |                                     Edit
                          |                                 
                          a.btn.btn-danger(href='#')
                            i.glyphicon.glyphicon-trash.icon-white
                            |                                     Delete
            // /span
          // /row
          .row
            .box.col-md-6
              .box-inner
                .box-header.well(data-original-title='')
                  h2 Simple Table
                  |                     
                  .box-icon
                    a.btn.btn-setting.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-cog
                    |                         
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |                         
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |                 
                .box-content
                  table.table
                    thead
                      tr
                        th Username
                        |                             
                        th Date registered
                        |                             
                        th Role
                        |                             
                        th Status
                    |                         
                    tbody
                      tr
                        td Muhammad Usman
                        |                             
                        td.center 2012/01/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                      |                         
                      tr
                        td White Horse
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-default.label.label-danger Banned
                      |                         
                      tr
                        td Sheikh Heera
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Admin
                        |                             
                        td.center
                          span.label-default.label Inactive
                      |                         
                      tr
                        td Saruar
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                      |                         
                      tr
                        td Sana Amrin
                        |                             
                        td.center 2012/01/21
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                  |                     
                  ul.pagination.pagination-centered
                    li
                      a(href='#') Prev
                    |                         
                    li.active
                      a(href='#') 1
                    |                         
                    li
                      a(href='#') 2
                    |                         
                    li
                      a(href='#') 3
                    |                         
                    li
                      a(href='#') 4
                    |                         
                    li
                      a(href='#') Next
            // /span
            .box.col-md-6
              .box-inner
                .box-header.well(data-original-title='')
                  h2 Striped Table
                  |                     
                  .box-icon
                    a.btn.btn-setting.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-cog
                    |                         
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |                         
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |                 
                .box-content
                  table.table.table-striped
                    thead
                      tr
                        th Username
                        |                             
                        th Date registered
                        |                             
                        th Role
                        |                             
                        th Status
                    |                         
                    tbody
                      tr
                        td Muhammad Usman
                        |                             
                        td.center 2012/01/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                      |                         
                      tr
                        td White Horse
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-default.label.label-danger Banned
                      |                         
                      tr
                        td Sheikh Heera
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Admin
                        |                             
                        td.center
                          span.label-default.label Inactive
                      |                         
                      tr
                        td Saruar
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                      |                         
                      tr
                        td Sana Amrin
                        |                             
                        td.center 2012/01/21
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                  |                     
                  ul.pagination.pagination-centered
                    li
                      a(href='#') Prev
                    |                         
                    li.active
                      a(href='#') 1
                    |                         
                    li
                      a(href='#') 2
                    |                         
                    li
                      a(href='#') 3
                    |                         
                    li
                      a(href='#') 4
                    |                         
                    li
                      a(href='#') Next
            // /span
          // /row
          .row
            .box.col-md-6
              .box-inner
                .box-header.well(data-original-title='')
                  h2 Bordered Table
                  |                     
                  .box-icon
                    a.btn.btn-setting.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-cog
                    |                         
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |                         
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |                 
                .box-content
                  table.table.table-bordered
                    thead
                      tr
                        th Username
                        |                             
                        th Date registered
                        |                             
                        th Role
                        |                             
                        th Status
                    |                         
                    tbody
                      tr
                        td Muhammad Usman
                        |                             
                        td.center 2012/01/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                      |                         
                      tr
                        td White Horse
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-default.label.label-danger Banned
                      |                         
                      tr
                        td Sheikh Heera
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Admin
                        |                             
                        td.center
                          span.label-default.label Inactive
                      |                         
                      tr
                        td Saruar
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                      |                         
                      tr
                        td Sana Amrin
                        |                             
                        td.center 2012/01/21
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                  |                     
                  ul.pagination.pagination-centered
                    li
                      a(href='#') Prev
                    |                         
                    li.active
                      a(href='#') 1
                    |                         
                    li
                      a(href='#') 2
                    |                         
                    li
                      a(href='#') 3
                    |                         
                    li
                      a(href='#') 4
                    |                         
                    li
                      a(href='#') Next
            // /span
            .box.col-md-6
              .box-inner
                .box-header.well(data-original-title='')
                  h2 Condensed Table
                  |                     
                  .box-icon
                    a.btn.btn-setting.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-cog
                    |                         
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |                         
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |                 
                .box-content
                  table.table.table-condensed
                    thead
                      tr
                        th Username
                        |                             
                        th Date registered
                        |                             
                        th Role
                        |                             
                        th Status
                    |                         
                    tbody
                      tr
                        td Muhammad Usman
                        |                             
                        td.center 2012/01/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                      |                         
                      tr
                        td White Horse
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-default.label.label-danger Banned
                      |                         
                      tr
                        td Sheikh Heera
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Admin
                        |                             
                        td.center
                          span.label-default.label Inactive
                      |                         
                      tr
                        td Saruar
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                      |                         
                      tr
                        td Sana Amrin
                        |                             
                        td.center 2012/01/21
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                  |                     
                  ul.pagination.pagination-centered
                    li
                      a(href='#') Prev
                    |                         
                    li.active
                      a(href='#') 1
                    |                         
                    li
                      a(href='#') 2
                    |                         
                    li
                      a(href='#') 3
                    |                         
                    li
                      a(href='#') 4
                    |                         
                    li
                      a(href='#') Next
            // /span
          // /row
          .row
            .box.col-md-12
              .box-inner
                .box-header.well(data-original-title='')
                  h2 Combined All
                  |                     
                  .box-icon
                    a.btn.btn-setting.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-cog
                    |                         
                    a.btn.btn-minimize.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-chevron-up
                    |                         
                    a.btn.btn-close.btn-round.btn-default(href='#')
                      i.glyphicon.glyphicon-remove
                |                 
                .box-content
                  table.table.table-bordered.table-striped.table-condensed
                    thead
                      tr
                        th Username
                        |                             
                        th Date registered
                        |                             
                        th Role
                        |                             
                        th Status
                    |                         
                    tbody
                      tr
                        td Muhammad Usman
                        |                             
                        td.center 2012/01/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                      |                         
                      tr
                        td White Horse
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-default.label.label-danger Banned
                      |                         
                      tr
                        td Sheikh Heera
                        |                             
                        td.center 2012/02/01
                        |                             
                        td.center Admin
                        |                             
                        td.center
                          span.label-default.label Inactive
                      |                         
                      tr
                        td Saruar
                        |                             
                        td.center 2012/03/01
                        |                             
                        td.center Member
                        |                             
                        td.center
                          span.label-warning.label.label-default Pending
                      |                         
                      tr
                        td Sana Amrin
                        |                             
                        td.center 2012/01/21
                        |                             
                        td.center Staff
                        |                             
                        td.center
                          span.label-success.label.label-default Active
                  |                     
                  ul.pagination.pagination-centered
                    li
                      a(href='#') Prev
                    |                         
                    li.active
                      a(href='#') 1
                    |                         
                    li
                      a(href='#') 2
                    |                         
                    li
                      a(href='#') 3
                    |                         
                    li
                      a(href='#') 4
                    |                         
                    li
                      a(href='#') Next
          // /span
          // content ends
        // /#content.col-md-0
      // /fluid-row
      // Ad, you can remove it
      .row
        .col-md-9.col-lg-9.col-xs-9.hidden-xs
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          // Charisma Demo 2
          ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-5108790028230107', data-ad-slot='3193373905')
          |             
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
        |         
        .col-md-2.col-lg-3.col-sm-12.col-xs-12.donate
          div
            small Help development of Charisma
          |             
          a.btn.btn-default(href='http://flattr.com/thing/1507720/usmanhalalitcharisma-on-GitHub', target='_blank')
            i.glyphicon.glyphicon-usd.green
            |  Donate
      // Ad ends
      hr
      |     
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') &times;
              |                     
              h3 Settings
            |                 
            .modal-body
              p Here settings can be configured...
            |                 
            .modal-footer
              a.btn.btn-default(href='#', data-dismiss='modal') Close
              |                     
              a.btn.btn-primary(href='#', data-dismiss='modal') Save changes
      |     
      footer.row
        p.col-md-9.col-sm-9.col-xs-12.copyright
          | &copy; 
          a(href='http://usman.it', target='_blank')
            | Muhammad
            | Usman
          |  2012 - 2014
        |         
        p.col-md-3.col-sm-3.col-xs-12.powered-by
          | Powered by: 
          a(href='http://usman.it/free-responsive-admin-template') Charisma
    // /.fluid-container
    // external javascript
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    // library for cookie management
    script(src='js/jquery.cookie.js')
    // calender plugin
    script(src='bower_components/moment/min/moment.min.js')
    script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')
    // data table plugin
    script(src='js/jquery.dataTables.min.js')
    // select or dropdown enhancer
    script(src='bower_components/chosen/chosen.jquery.min.js')
    // plugin for gallery image view
    script(src='bower_components/colorbox/jquery.colorbox-min.js')
    // notification plugin
    script(src='js/jquery.noty.js')
    // library for making tables responsive
    script(src='bower_components/responsive-tables/responsive-tables.js')
    // tour plugin
    script(src='bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')
    // star rating plugin
    script(src='js/jquery.raty.min.js')
    // for iOS style toggle switch
    script(src='js/jquery.iphone.toggle.js')
    // autogrowing textarea plugin
    script(src='js/jquery.autogrow-textarea.js')
    // multiple file upload plugin
    script(src='js/jquery.uploadify-3.1.min.js')
    // history.js for cross-browser state change on ajax
    script(src='js/jquery.history.js')
    // application script for Charisma demo
    script(src='js/charisma.js')
